@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>Pues vaya p%&a mierda... Ésto ha petao</h2>
            <p>Vete a otro lao mejor hecho.</p>
        </div>
    </div>
</body>
</html>
